# Environnements virtuels
venv/
.env/

# Fichiers temporaires / caches Python
__pycache__/
*.pyc
*.pyo

# Données et modèles
data/**/*.csv
models/

# Notebooks checkpoints
*.ipynb_checkpoints/

# dvc
.dvc/
dvc_storage/

# mlflow
mlruns/