# Environnements virtuels
venv/
.env/

# Fichiers temporaires / caches Python
__pycache__/
*.pyc
*.pyo

# Données , modèles et metrics
data/
models/
metrics/

# Notebooks checkpoints
*.ipynb_checkpoints/

# dvc
.dvc/
dvc_storage/
